* {
  font-family:  'Anonymous Pro', monospace;;
  color: #1D1D1D;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f2f2f2 !important;
  scrollbar-width: none !important;
}

a {
  color: #1D1D1D !important;
  text-decoration: none !important;
}

a:hover,
.backToTop:hover,
.lightsButton:hover {
  text-decoration: underline !important;
}

.backToTop {
  border-width: 0;
  background-color: transparent;
}

.container,
.container-fluid,
.row,
.col {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.timeDisplay,
.backToTop {
  color: #1D1D1D;
  text-decoration: none !important;
}

@media screen and (min-width: 1366px) {
  .footer {
    width: 100vw;
    min-height: 5vh;
    padding-bottom: 2vw;
    align-items: center;
    justify-content: center;
  }

  .digitalBath {
    margin-top: 1vw;
    font-size: 1vw;
    text-align: right;
  }

  .year {
    margin-top: 1vw;
    font-size: 1vw;
    text-align: left;
  }

  .abn {
    margin-top: 1vw;
    font-size: 1vw;
    text-align: center;
  }

  .footerDot {
    margin-top: 1vw;
    font-size: 1vw;
    text-align: center;
  }

  .comingSoon {
    font-size: 4.5vw;
    text-align: center;
  }

  .backToTop {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    font-size: 1vw;
  }

  .timeDisplay {
    position: fixed;
    bottom: 2vw;
    left: 2vw;
    font-size: 1vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .footer {
    width: 100%;
    min-height: 5vh;
    padding-bottom: 2vw;
    align-items: center;
    justify-content: center;
  }

  .digitalBath {
    margin-top: 1vw;
    font-size: 2vw;
    text-align: right;
  }

  .year {
    margin-top: 1vw;
    font-size: 2vw;
    text-align: left;
  }

  .abn {
    margin-top: 1vw;
    font-size: 2vw;
    text-align: center;
  }

  .footerDot {
    margin-top: 1vw;
    font-size: 2vw;
    text-align: center;
  }

  .comingSoon {
    font-size: 5vw;
    text-align: center;
  }

  .backToTop {
    position: fixed;
    bottom: 2vw;
    right: 5vw;
    font-size: 2vw;
  }

  .timeDisplay {
    position: fixed;
    bottom: 2vw;
    left: 5vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: 100%;
    min-height: 5vh;
    padding-bottom: 5vw;
    align-items: center;
    justify-content: center;
  }

  .digitalBath,
  .year{
    margin-top: 5vw !important;
    font-size: 3.5vw;
    text-align: center;
  }

  .abn {
    margin-top: 5vw !important;
    font-size: 3.5vw;
    text-align: center;
  }

  .comingSoon {
    font-size: 7vw;
    text-align: center;
  }

  .backToTop {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    font-size: 3.5vw;
  }

  .timeDisplay {
    position: fixed;
    bottom: 5vw;
    left: 5vw;
    font-size: 3.5vw;
  }
}
