@media screen and (min-width: 1366px) {
    .navbar {
        position: fixed !important;
        top: 0;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        text-align: center;
        background-color:#E2E2E2;
    }
    
    .navbarItem {
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 1vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
    .navbar {
        position: fixed !important;
        top: 0;
        align-items: center;
        width: 100vw;
        text-align: center;
        background-color:#E2E2E2;
    }

    .navbarItem {
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 2vw;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        position: fixed !important;
        top: 0;
        width: 100vw;
        text-align: center;
        background-color:#E2E2E2;
    }

    .navbarItem {
        font-size: 3vw;
    }
}
